body {
    color: #222222;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    margin: 20px;
}

a {
    color: #222222;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 16pt;
}

h4 {
    font-size: 14pt;
}

h5 {
    font-size: 13pt;
}

h6 {
    color: #999999;
    font-size: 12pt;
    text-transform: uppercase;
}

code {
    background-color: #ECECEC;
    color: #666666;
    padding: 1px 3px;
}

code, pre {
    border-radius: 3px 3px 3px 3px;
    font-family: Monaco, "Courier New", monospace;
    padding: 0 3px 2px;
    font-size: 0.75em;
}

pre {
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    display: block;
    line-height: 1.6em;
    padding: 7px;
    white-space: pre;
    word-wrap: break-word;
}

li {
    margin-bottom: 7px;
}

footer {
    padding-top: 10px;
    text-align: center;
    font-size: 0.8em;
}